.Notfound-page{
    width: 100vw;
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.not-found-heading{
    padding-top: 30px;
    font-size: 3.2em;
    text-align: center
}
